<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>Security login</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}" />
    </head>
    <body>
        <div th:fragment="logout" class="logout" sec:authorize="isAuthenticated()">
            Logged in user: <span sec:authentication="name"></span> |
            Roles: <span sec:authentication="principal.authorities"></span>
            <div>
                <form action="#" th:action="@{/logout}" method="post">
                    <input type="submit" value="Logout" />
                </form>
            </div>
        </div>
        <h1>Security Login</h1>
        <p>you should login first then you can goto URL: http://localhost:8080/wordladder/word1=data&word2=code to see the wordladder.If you
        don't login, you can't see any web page except login</p>
        <p>the username is:user
        the password is :123</p>
        <ul>
            <li>Go to the <a href="/user/index" th:href="@{/user/index}">login pages</a></li>
        </ul>
    </body>
</html>
